<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NFCRing.Service.Host.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <services>
      <!-- This section is optional with the new configuration model
           introduced in .NET Framework 4. -->
      <service name="NFCRing.Service.RPC.RPCService" behaviorConfiguration="RPCServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/NFCRing/RPCService"/>
          </baseAddresses>
        </host>
        <!-- this endpoint is exposed at the base address provided by host: http://localhost:8000/NFCRing/RPCService  -->
        <endpoint address="" binding="wsHttpBinding" contract="NFCRing.Service.RPC.IRPC"/>
        <!-- the mex endpoint is exposed at http://localhost:8000/NFCRing/RPCService/mex -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="RPCServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <applicationSettings>
        <NFCRing.Service.Host.Properties.Settings>
            <setting name="isDebug" serializeAs="String">
                <value>False</value>
            </setting>
        </NFCRing.Service.Host.Properties.Settings>
    </applicationSettings>
</configuration>
