<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <targets>
    <target name="fileMain" xsi:type="File" fileName="${basedir}/logs/${shortdate}/main.txt" layout="${date:format=HH\:mm\:ss} ${level} ${message}" />
    <target name="fileDebug" xsi:type="File" fileName="${basedir}/logs/${shortdate}/debug.txt" layout="${date:format=HH\:mm\:ss} ${level} ${message}" />
    <target name="fileException" xsi:type="File" fileName="${basedir}/logs/${shortdate}/error.txt" layout="${date:format=HH\:mm\:ss} ${message} ${onexception:\:&#13;&#10;&#13;&#10;${exception:format=message,type,stacktrace:maxInnerExceptionLevel=5:innerFormat=message,type,stacktrace:separator=&#13;&#10;:innerExceptionSeparator=&#13;&#10;&#13;&#10;}} &#13;&#10;"/>
  </targets>

  <rules>
    <logger name="main" minLevel="Info" writeTo="fileMain" />
    <logger name="*" minLevel="Debug" maxLevel="Debug"  writeTo="fileDebug" />
    <logger name="*" minLevel="Trace" writeTo="fileMain" />
    <logger name="*" minlevel="Error" writeTo="fileException" />
  </rules>
</nlog>