<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <targets>
    <target name="fileMain" xsi:type="File" fileName="${basedir}/logs/${shortdate}/main.txt" layout="${date:format=HH\:mm\:ss} ${level} ${message}" />
  </targets>

  <rules>
    <logger name="main" minLevel="Info" writeTo="fileMain" />
  </rules>
</nlog>